body {
  background-color: #F8FAFB !important;
}


.custom_drawer_color {
  background-color: #050E2D;

}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  background-color: #050E2D !important;
  color: #848998 !important;
}

.css-i4bv87-MuiSvgIcon-root {
  color: #848998 !important;
}

.cutom-dropdown {
  background-color: #22A565 !important;
  color: #fff !important;

}

.cutom-dropdown-bg {
  background-color: #1E2642;
  border-left: 2px solid #22A565;
}

input[type=date]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}

@media (min-width: 600px) {
  .css-hyum1k-MuiToolbar-root {
    min-height: unset !important;
  }
}

.form-check-input:checked {
  background-color: green !important;
  border-color: green !important;
}

.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color: #050E2D;
  color: #fff;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  background-color: #F8FAFB;
}

label {
  font-weight: bold;
}