.custom_drawer_color {
  background-color: #050E2D;

}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  background-color: #050E2D !important;
  color: #848998 !important;
}

.css-i4bv87-MuiSvgIcon-root {
  color: #848998 !important;
}

.cutom-dropdown {
  background-color: #22A565 !important;
  color: #fff !important;

}

.cutom-dropdown-bg {
  background-color: #1E2642;
  border-left: 2px solid #22A565;
}

input[type=date]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}